header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  height: 70px;
  gap: 24px;
}

header a {
    color:white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1, h2 {
  text-align: center;
}

.container {
  padding: 0 100px;
}

/* .active {
  color: green;
} */

.active-link {
  color: blue;
}